.alerts .alert-tag {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
  }
  
  .alerts .critical-yellow {
    background-color: #f2f200; /* Yellow */
    color: #000000;
  }
  
  .alerts .critical-orange {
    background-color: #f2a600; /* Orange */
    color: #000000;
  }
  
  .alerts .critical-red {
    background-color: #f20000; /* Red */
    color: #ffffff;
  }
  
  .alerts .non-critical-green {
    background-color: #00f200; /* Green */
    color: #000000;
  }
  
  .alerts .critical {
    background-color: #f20000; /* Red */
    color: #ffffff;
  }
  
  .alerts .non-critical {
    background-color: #00f200; /* Green */
    color: #000000;
  }
  
  .alerts .alert-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .alerts .alert-nav button {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .alerts .alert-nav button.active {
    background-color: #e0e0e0;
  }

  .alerts {
    position: relative; /* To position the child relative to this container */
  }
  
  .goat {
    position: absolute;
    right: 0; /* Align to the right side */
    top: 40;   /* Optionally align it at the top */
    /* border: #000000 solid; */
    padding: 40px;
    background-color: #00f200;
    border-radius: 20px;
  }
  