/* App.css */
.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-content {
  display: flex;
  margin-top: 20px; /* Space below header */
}


.main-layout {
  display: flex;
  flex-direction: row;
}

main {
  flex-grow: 1;
  padding: 20px;
}

/* Sidebar.css */
.sidebar {
  width: 200px;
  background-color: #2C3E50;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #34495E;
}
